<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, td, tr {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

        tr {
            border-collapse: collapse;
        }

        td {
            padding: 6px;
        }

    </style>
</head>
<body>
<a href='?c=Product&a=index'>产品列表</a>
<a href='?c=User'>用户列表</a>
<hr />
<a href='?a=showForm' >添加新用户</a> <br>
用户列表：
<table>
    <?php
    foreach($data1 as $key=>$rec) {
    ?>
        <tr>
            <td><?php echo $rec['user_name']; ?></td>
            <td class='t1'><?php echo $rec['age']; ?></td>
            <td><?php echo $rec['edu']; ?></td>
            <td><?php echo $rec['come_from']; ?></td>
            <td><?php echo $rec['reg_time']; ?></td>
            <td>
                <a href="?c=User&a=delUser&id=<?php echo $rec['id']; ?>" onclick='return queren()'>删除</a>
                <a href="?c=User&a=showUserInfo&id=<?php echo $rec['id']; ?>" >详细</a>
                <a href="?c=User&a=edit&id=<?php echo $rec['id']; ?>" >修改</a>
            </td>
        </tr>
    <?php } ?>
</table>
<hr />
<a href="?p=back&c=Admin&a=Login">进入后台</a>
</body>
</html>

<script>
    function queren(){
        return window.confirm("你真的要删除吗？");
    }
</script>